params {
    data = "data/"
    results = "results/"

    // CALCULATE_SUBSTITUTION_MODEL
    calculate_substitution_model_cpus = "4"
    calculate_substitution_model_memory = "4"

    // MAKE_PHYLOGENY
    make_phylogeny_cpus = "12"
    make_phylogeny_memory = "12"

}

docker {
    enabled = true
}

process.errorStrategy = 'ignore'