params {
    data = "data/"
    results = "results/"

    // CALCULATE_SUBSTITUTION_MODEL
    calculate_substitution_model_cpus = "4"
    calculate_substitution_model_memory = "4"

    // MAKE_PHYLOGENY
    make_phylogeny_cpus = "12"
    make_phylogeny_memory = "12"

    // Docker containers
    docker_modeltest_ng = "quay.io/biocontainers/modeltest-ng:0.1.7--hf316886_3"
    docker_raxml_ng = "quay.io/biocontainers/raxml-ng:0.9.0--h192cbe9_1"
}

docker {
    enabled = true
}

process.errorStrategy = 'ignore'